:root {
  font-family: "Atkinson Hyperlegible", Verdana, "DejaVu Sans", "Noto Sans", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  display: block;
  padding: 0 1rem 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}
